{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-4 medium-3 small-12 large-offset-4 cell">
    <form action="/login/" method="post">
      {% csrf_token %}
      <h2 class="text-center">Login</h2>
      {{ form.errors }}
      <label>{{ form.username.label_tag }}</label>
      {{ form.username }}
      <label>{{ form.password.label_tag }}</label>
      {{ form.password }}
      <input type="submit" class="button expanded" value="Login" />
      <a href="/register/" class="secondary button expanded">Register</a>
      <input type="hidden" name="next" value="/" />
    </form>
  </div>
</div>
{% endblock %}
